.seccion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
}

.seccion img{
    width: 35rem;
}

.seccion_texto{
    max-width: 30rem;
}

.seccion_texto h2{
    font-size: 2.5rem;
    font-weight: 700;
}

.seccion_texto p{
    font-size: 1.5rem;
    line-height: 2rem;
}

@media(max-width: 768px){
    .seccion{
        flex-direction: column;
    }

    .seccion img{
        width: 15rem;
    }

    .seccion_texto p{
        font-size: 1.2rem;
        padding: 2rem;
    }

    .seccion_texto h2{
        font-size: 1.7rem;
        text-align: center;
        padding: 0 2rem;
    }
}

.margin{
    margin-bottom: 5rem;
}