.header{
    margin: 0;
    padding: 1.5rem 2rem;
    background-color: #1685D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagen{
    width: 10rem;
}

.links{
    display: flex;
}

.links a{
    text-decoration: none;
    margin-right: 3rem;
}

.links a:last-of-type{
    margin-right: 0;
}

.links p{
    margin:0;


    color: white;
    font-weight: 400;
    font-size: 1rem;
}
