.cabecera{
    margin: 0;
    height: calc(100vh - 66.4px);
    background-color: #1685D9;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.cabecera img{
    width: 30rem;
}

.cabecera_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecera_texto h1{
    width: 40rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 400;
    color: white
}

span{
    font-weight: 700;
}

.cabecera p{
    color: white;
    font-size: 2.2rem;
    width: 35rem;
}


.seccion{
    padding: 10rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.seccion img{
    width: 35rem;
}

.seccion_texto{
    max-width: 30rem;
}

.seccion_texto h2{
    font-size: 2.5rem;
    font-weight: 700;
}

.seccion_texto p{
    font-size: 1.7rem;
}

.foto{
    border-radius: 2rem;
}

.frase{
    background-color: #1685D9;
    display: flex;
    justify-content: center;
    padding: 5rem;
}
.frase h2{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;

}

.seccionFinal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.seccionFinal_imagenes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.seccionFinal_imagenes img{
    width: 25rem;
}

.especial{
    margin-top: 10rem;
}


@media(max-width: 768px){
    .cabecera{
        flex-direction: column;
    }
    .cabecera img{
        width: 15rem;
    }

    .cabecera_texto h1{
        width: 15rem;
        font-size: 2.2rem;
        text-align: center;
        
    }

    .cabecera p{
        color: white;
        font-size: 1.7rem;
        width: 15rem;
        text-align: center;
    }
    
    .seccion{
        flex-direction: column;
        padding: 2rem;
    }

    .seccionFinal_imagenes{
        flex-direction: column;
    }
    .seccionFinal_imagenes img{
        width: 20rem;
        margin: 2rem 0rem;
    }

    .seccion img{
        width: 20rem;
    }

    .frase{
        text-align: center;
    }
}