.miembro {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: auto;
    padding-right: 6rem;
    padding-left: 6rem;
    margin-bottom: 4rem;
}

.miembro img {
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    border-radius: 6rem;
    margin-bottom: 0.5rem;
}

.nombre {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    text-align: center;
}

.cargo {
    font-size: 2rem;
    color: #1685D9;
    margin-bottom: 0.2rem;
}

.miembro p {
    font-size: 1.4rem;
    margin-top: 0.2rem;
    line-height: 2.2rem;
}

@media(max-width: 768px) {
    .miembro {
    padding-left: 2rem;
    padding-right: 2rem;
    }

    .cargo {
        font-size: 1.5rem;
    }

}
