.container {
    display: flex;

}
.container img {
    width: 25rem; 
    margin: 5rem;
    margin-top: 0rem;
    border-radius: 0.6rem;
}

.container p {
    padding-right: 5rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
}