.container {
    display: flex;

}
.container img {
    width: 45%; 
    margin: 5rem;
    margin-top: 0rem;
    border-radius: 0.6rem;
}

.container p {
    padding-right: 5rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.mision, .vision {
    background-color: #1685D9;
    color: white;
    padding: 2rem 6rem 2rem 6rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.mision h1, .vision h1 {
    text-align: center;
}

.mision p, .vision p {
    line-height: 2rem;
    font-size: 1.2rem;

}

.miembro_container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    
}

.leyenda {
    margin-left: 15rem;
    color: #3E4756;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.img_container {
    padding: 3rem;
    line-height: 3rem;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;

}

.img_container img {
    border-radius: 1rem;
    width: 100% !important;
    height: auto !important;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container img {
        width: 15rem;
        margin: 0;
    }

    .container p {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }

    .mision, .vision {
        padding: 1rem 2rem 1rem 2rem;    
    }

    .miembro_container {
        
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        
    }

    .leyenda {
        margin: 0;
        text-align: center;
        padding: 0rem 2rem;
    }

    .img_container {
        padding: 1rem;
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
}
