.noticias{
    padding-top: 2rem;
}


.contenedor {
    display: flex;
    padding-left: 5rem;
    padding-top: 4rem;
    margin-bottom: 3rem;
}

.contenedor p {
    color: #3E4756;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-right: 3rem;
}

.contenedor img {
    width: 30rem;
    margin: 4rem;
    margin-top: 0rem;
}

@media(max-width: 768px) {
    .noticias{
        padding-top: 0rem;
    }

    .contenedor {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0rem;
        flex-direction: column;
    }

    .contenedor p {
        margin-top: 0rem;
        padding-right: 1rem;
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    .contenedor h2 {
        margin-top: 0rem;
        font-size: 1.5rem;
        margin-bottom: 0.4rem;
    }
    .contenedor img {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0rem;
        width: 15rem;
    }

}