.barra{
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
}

.barra a{
    text-decoration: none;
    color: #1685D9;
    margin-right: 2rem; 
}

.barra a:last-of-type{
    margin-right: 0;
}

.barra i{
    font-size: 2.2rem;
}

@media(max-width: 768px) {
    .barra{
        justify-content: center;
    }
}