.separador {
    margin-left: 30%;
    overflow: hidden;
    padding: 0;
    max-width: 70%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.separador_container {
    margin: 0;
    display: flex;
    margin-right: -10%;
    padding: 0;
    padding-left: 1.8rem;
    align-items: center;    
    background-color: #1685D9;
    border-radius: 0.8rem;
    font-size: 1.8rem;
    color: white;
}

.separador_titulo {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    margin-top: 0.0rem;
    margin-bottom: 0.0rem;
    color: white;
}

@media(max-width: 768px) {

    .separador {
        margin-left: 20%;
        max-width: 80%;
        margin-top: 4rem;
    }
    .separador_container {
        font-size: 1.2rem;
        border-radius: 0.4rem;
        padding-left: 0.8rem;
    }

    .separador_titulo {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        width: 80%;
    }
}