.separador {
    margin-left: 30%;
    /* margin-top: 3rem; */
    overflow: hidden;
    padding: 0;
    height: 3rem;
    max-width: 70%;
}

.separador_container {
    margin: 0;
    display: flex;
    margin-right: -10%;
    height: 3rem;
    padding-left: 0.8rem;
    align-items: center;    
    
    background-color: #1685D9;
    border-radius: 0.5rem;
    
    font-size: 1.5rem;
    color: white;
}

.separador_titulo {
    color: white;
}